header {
  background: $header-background;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  border: solid;

  .logo-section {
    height: auto;
    margin-right: -10%;
    align-content:center;
    .logo {
      height: auto;
      width: 20%;
    }
  }

  .splash-message-section{
    height: auto;
  }

  .profile-icon-section{
    height: auto;
  }

}
