header {
  background: $header-background;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-start;
  border: solid;

  button {
    .add-new-trip-button {
      // display:none;
    }

  }

  .logo {
    height: auto;
    width: 13%;
  }

  .splash-message-section {
    height: auto;
  }

  .profile-icon-section {
    height: auto;
  }
}
