/* This is an example of how to import a partial scss file*/
@import '_variables';
@import '_header';
@import '_main';
@import '_modal';

body {
  // border: solid green;
  min-height: 100vh;
  min-width: 100vh;
  background: #b5ddfa;
}


.hidden {
  display: none;
}
