/* This is an example of how to import a partial scss file*/
@import '_variables';
@import '_header';
@import '_main';
@import '_modal';
@import '_datepicker';
// @import '~js-datepicker/src/datepicker'
// @import '~js-datepicker/dist/datepicker.min.css'

body {
  border: solid green;
  min-height: 100vh;
}


.hidden {
  display: none;
}
